:root { 
--gray_600:#777777; 
--yellow_600:#fed330; 
--gray_600_01:#757575; 
--black_900:#000000; 
--amber_500:#f1c40f; 
--black_900_6c:#0000006c; 
--gray_900:#222222; 
--red_300:#e4897b; 
--red_500:#e74c3c; 
--blue_gray_900:#263238; 
--red_400:#de5753; 
--white_A700:#ffffff; 
}